<section class="mobile-nav">
  <nav>
    <a href="#">Stream</a>
    <a href="#">Lab</a>
    <a href="#">About</a>
  </nav>
</section>
<section class="page">
  <aside class="left-col">
    <a class="avatar" href="/">
      
    </a>
    <nav>
      <a href="#">Stream</a>
      <a href="#">Lab</a>
      <a href="#">About</a>
    </nav>
    <div class="phrases hide-landscape">
      
    </div>
  </aside>
  <div class="right-col">
    <div class="content">
      {{ content }}
    </div>
  </div>
</section>