<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} &raquo; Max Boll &ndash; Web-Developer &ndash; Speedcuber &ndash; MyXoToD.com</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0, user-scalable = no">
    <meta name="description" content="Max Boll, Frontend and Backend Web-Developer from Mayence" />
    <meta name="keywords" content="MyXoToD, Max Boll, programming, webdesign, html5, css3, sass, scss, frontend, backend" />
    <link rel="author" href="/humans.txt" />

    <!-- Stylesheets -->
    <link type="text/css" rel="stylesheet" media="all" href="/assets/stylesheets/application.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/assets/stylesheets/syntax.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/assets/stylesheets/colors.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/assets/stylesheets/media-queries.css" />

    <!-- Javascripts -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/application.js"></script>
  </head>
  <body class="{{ include.color }}">