<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }} :: {{ page.title }}</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0, user-scalable = no">

    <!-- Stylesheets -->
    <link type="text/css" rel="stylesheet" media="all" href="assets/stylesheets/application.css" />
    <link type="text/css" rel="stylesheet" media="all" href="assets/stylesheets/colors.css" />
    <link type="text/css" rel="stylesheet" media="all" href="assets/stylesheets/media-queries.css" />

    <!-- Javascripts -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="assets/javascripts/application.js"></script>
  </head>
  <body class="{{ include.color }}">