/* ****************************** */
/* *********** IMPORTS ********** */
/* ****************************** */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700); // Text
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700); // Headline

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* ****************************** */
/* *********** MIXINS *********** */
/* ****************************** */

@mixin addTransition($s) {
  transition: all $s+s ease;
  -o-transition: all $s+s ease;
  -ms-transition: all $s+s ease;
  -moz-transition: all $s+s ease;
  -webkit-transition: all $s+s ease;
}

@mixin BorderBox() {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin addTransition($p, $t) {
  transition: $p $t ease;
  -o-transition: $p $t ease;
  -ms-transition: $p $t ease;
  -moz-transition: $p $t ease;
  -webkit-transition: $p $t ease;
}

@mixin clearfix() {
  content: "";
  display: block;
  clear: both;
}

/* ****************************** */
/* *********** VARIABLES ******** */
/* ****************************** */

$color-alpha: #fff;

$unit-alpha: 15px;

/* ****************************** */
/* *********** RESET ************ */
/* *********** DEFAULTS ********* */
/* ****************************** */

* {
  margin: 0;
  padding: 0;
  border: 0;
  transform: translateZ(0deg);
  -webkit-transform: translateZ(0deg);
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-weight: 400;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
  @include addTransition(color, .5s);
  @include addTransition(border-bottom, .5s);
}

.mobile-nav {
  position: fixed;
  width: 80%;
  height: 100%;
  background-color: #333;
  box-shadow: inset -10px 0 10px -10px #000;
  left: -80%;
  a {
    color: #fff;
    display: block;
    padding: 20px 0px 20px 60px;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    @include addTransition(background, 0.3s);
    &:last-of-type {
      border-top: 1px solid #fff;
      border-bottom: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}
.page {
  position: relative;
  .toggle-mobile-nav {
    position: fixed;
    top: 20px;
    left: 20px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    z-index: 100;
    border-radius: 5px;
    color: #fff;
    display: none;
    @include addTransition(background-color, .5s);
  }
  .left-col {
    width: 30%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-image: url(https://place-it.s3.amazonaws.com/2013/44/48776/64d8893.png);
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: inset -15px 0px 15px -15px #000;
    padding: 60px 0;
    @include BorderBox();
    .avatar {
      width: 30%;
      background-image: url(../images/avatar.jpg);
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 5px;
      margin: 0 auto 60px auto;
      display: block;
      @include addTransition(border, .5s);
    }
    nav {
      width: 50%;
      height: auto;
      margin: 0 auto;
      a {
        width: 100%;
        height: 40px;
        color: #fff;
        text-align: center;
        display: block;
        line-height: 40px;
        font-size: 20px;
        margin-bottom: 15px;
        border-radius: 5px;
        @include addTransition(background-color, .5s);
      }
    }
    .phrases {
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 60px;
      text-align: center;
      overflow: hidden;
      background: rgba(#000, 0.5);
      white-space: nowrap;
      padding: 15px 0;
      h1 {
        color: #fff;
        font-size: 3vw;
        font-weight: 300;
        width: 100%;
        display: inline-block;
        a {
          color: #fff;
          font-weight: 700;
        }
      }
    }
  }
  .right-col {
    position: absolute;
    width: 70%;
    left: 30%;
    height: 100%;
    .content {
      width: 100%;
      max-width: 770px;
      padding: 60px;
      @include BorderBox();
      article {
        margin-bottom: 46px;
        header {
          h1 {
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
            font-size: 48px;
            font-weight: 300;
            letter-spacing: -3px;
            line-height: 48px;
            padding-bottom: 46px;
            a {
              border-bottom: 0;
            }
          }
        }
        main {
          padding-left: 20px;
          margin-bottom: 10px;
          position: relative;
          border-left: 5px solid #ddd;
          @include addTransition(border-left, .5s);
        }
        footer {
          font-size: 12px;
          color: #999;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}