$color-alpha: #e74c3c;
$color-beta: #2ecc71;
$color-gamma: #3498db;

.red {
  .section-color {
    color: $color-alpha;
  }
  .mobile-nav {
    a {
      &:hover {
        background: rgba($color-alpha, 0.3);
      }
    }
  }
  .page {
    .toggle-mobile-nav {
      background-color: $color-alpha;
      &:hover {
        background-color: darken($color-alpha, 20%);
      }
    }
    .left-col {
      .avatar {
        border: 5px solid $color-alpha;
        &:hover{
          border: 5px solid darken($color-alpha, 20%);
        }
      }
      nav {
        a {
          background-color: $color-alpha;
          &:hover {
            background-color: darken($color-alpha, 20%);
          }
        }
      }
    }
    .right-col {
      a {
        color: $color-alpha;
        border-bottom: 1px solid #ddd;
        &:hover {
          color: darken($color-alpha, 20%);
          border-bottom: 1px solid $color-alpha;
        }
      }
      .content {
        article {
          header {
            h1 {
              color: $color-alpha;
              a {
                color: $color-alpha;
              }
            }
          }
          main {
            ul {
              li {
                &:before {
                  color: $color-alpha;
                }
              }
            }
          }
          &:hover {
            .teaser {
              border-left: 5px solid $color-alpha;
              &:before {
              }
            }
          }
        }
      }
      footer {
        span {
          color: $color-alpha;
        }
      }
    }
  }
}

.green {
  .section-color {
    color: $color-beta;
  }
  .mobile-nav {
    a {
      &:hover {
        background: rgba($color-beta, 0.3);
      }
    }
  }
  .page {
    .toggle-mobile-nav {
      background-color: $color-beta;
      &:hover {
        background-color: darken($color-beta, 20%);
      }
    }
    .left-col {
      .avatar {
        border: 5px solid $color-beta;
        &:hover{
          border: 5px solid darken($color-beta, 20%);
        }
      }
      nav {
        a {
          background-color: $color-beta;
          &:hover {
            background-color: darken($color-beta, 20%);
          }
        }
      }
    }
    .right-col {
      a {
        color: $color-beta;
        border-bottom: 1px solid #ddd;
        &:hover {
          color: darken($color-beta, 20%);
          border-bottom: 1px solid $color-beta;
        }
      }
      .content {
        article {
          header {
            h1 {
              color: $color-beta;
              a {
                color: $color-beta;
              }
            }
          }
          main {
            ul {
              li {
                &:before {
                  color: $color-beta;
                }
              }
            }
          }
          &:hover {
            .teaser {
              border-left: 5px solid $color-beta;
              &:before {
              }
            }
          }
        }
      }
      footer {
        span {
          color: $color-beta;
        }
      }
    }
  }
}

.blue {
  .section-color {
    color: $color-gamma;
  }
  .mobile-nav {
    a {
      &:hover {
        background: rgba($color-gamma, 0.3);
      }
    }
  }
  .page {
    .toggle-mobile-nav {
      background-color: $color-gamma;
      &:hover {
        background-color: darken($color-gamma, 20%);
      }
    }
    .left-col {
      .avatar {
        border: 5px solid $color-gamma;
        &:hover{
          border: 5px solid darken($color-gamma, 20%);
        }
      }
      nav {
        a {
          background-color: $color-gamma;
          &:hover {
            background-color: darken($color-gamma, 20%);
          }
        }
      }
    }
    .right-col {
      a {
        color: $color-gamma;
        border-bottom: 1px solid #ddd;
        &:hover {
          color: darken($color-gamma, 20%);
          border-bottom: 1px solid $color-gamma;
        }
      }
      .content {
        article {
          header {
            h1 {
              color: $color-gamma;
              a {
                color: $color-gamma;
              }
            }
          }
          main {
            ul {
              li {
                &:before {
                  color: $color-gamma;
                }
              }
            }
          }
          &:hover {
            .teaser {
              border-left: 5px solid $color-gamma;
              &:before {
              }
            }
          }
        }
      }
      footer {
        span {
          color: $color-gamma;
        }
      }
    }
  }
}