/************************************************************************************
smaller than 960px
*************************************************************************************/
@media screen and (max-width: 960px) {

}

/************************************************************************************
smaller than 800px (Mobile Landscape)
*************************************************************************************/
@media screen and (max-width: 800px) {
  .page {
    .left-col {
      width: 100%;
    }
    .right-col {
      width: 100%;
      height: auto;
      left: 0;
      top: 100%;
      .content {
        padding: 20px;
      }
    }
  }
  .hide-landscape {
    display: none;
  }
}

/************************************************************************************
smaller than 480px (Mobile Portrait)
*************************************************************************************/
@media screen and (max-width: 480px) {

}